body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #6a0dad, #b266ff);
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    width: 60%;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    text-align: center;
}

.heading {
    font-size: 36px;
    margin-bottom: 10px;
    color: #6a0dad;
}

.desc {
    color: #555;
    margin-bottom: 30px;
}


.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input[type="file"],
select {
    padding: 10px;
    width: 230px;
}

button {
    background: #6a0dad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #520b9e;
}